 /* .date-picker {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    background-color: darkgrey;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  td {
    cursor: pointer;
  }
  
  td.selected {
    background-color: #b8daff;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .icon{
    display: flex;
    gap: 10px;
    width: auto;
   justify-content: center
  }
  button{
    cursor: pointer;
  } 



     */


.selectdate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectdate h3 {
  color: #fff;
  margin: 12px 0 -12px;
  padding: 0;
}
     .calendar {
      margin: 20px auto;
      text-align: center;
      width: 35%;
      background-color: slategray;
    }
    .calendar table tr  {
      color: white;
    }
    .header button {
      color: #fff;
    }
    .header h2 {
      color: #fff;
    }
    
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
 
    }
    
    .arrow {
      font-size: 1.5rem;
      padding: 5px;
      margin: 0 10px;
      background: none;
      border: none;
      cursor: pointer;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      
    }
    
    th,
    td {
      padding: 0;
      border: 1px solid #ccc;
      cursor: pointer;
      height: 40px;
      font-weight: 600;
    }
    td:hover {
      background-color: rgb(0, 26, 255);
    }
    
    thead {
      background-color: #6b8190;
      
    }
    
    tbody tr:nth-child(even) {
      background-color: slategrey;
    }
    